<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ STATIC_URL }}/static/img/logo.png" />
    <title>LB2 Email Migration</title>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/js/bootstrap.min.js"></script>
    <link href="{{ STATIC_URL }}/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index')}}">LB2 - Email Migration</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.migrations')}}">Configurar Migração</a></li>
            <li><a href="{{ url_for('main.create_client')}}">Adicionar Cliente</a></li>
            <li><a href="{{ url_for('main.create_server')}}">Adicionar Servidor</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="flashes">
    {% for message in get_flashed_messages()%}
        <h4 class="form-text text-muted text-danger text-center">{{ message }}</h4>
    {% endfor %}
</div>
<div class="center-block text-center">
<img src="{{ STATIC_URL }}/static/img/complete_logo.png" style="position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0">
</div>
</body>
</html>